<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        * {
            font-family: "Roboto", sans-serif;
        }
        body{
            height: 100vh;
        }
        .username:focus, .email:focus{
            outline: 0px none #fff !important;
        }
        .password{
            border: none !important;
        }
        .password:focus{
            outline: 0px none #fff !important;
        }
    </style>
    <title>Login</title>
</head>
<body>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="card w-25 mx-auto p-4">
            
            <h1 class="mb-0 fs-3 fw-medium text-center">Signup</h1>
            <div class="my-3">
                <form method="post" action="/signup">
                    <div>
                        <label class="fw-light fs-6" for="">Username</label>
                        <input class="w-100 mt-1 border rounded-2 p-1 px-2 username" name="username" type="text" placeholder="Enter Username">
                    </div>
                    <div class="mt-3">
                        <label class="fw-light fs-6" for="">Email</label>
                        <input class="w-100 mt-1 border rounded-2 p-1 px-2 email" name="email" type="email" placeholder="Enter Email">
                    </div>
                    <div class="mt-3">
                        <label class="fw-light" for="">Password</label>
                        <div class="w-100 mt-1 border rounded-2 p-1 px-2 d-flex">
                            <input class="password w-100" type="password" name="password" placeholder="Enter Password">
                            <span role="button" onclick="togglePassword()" class="toggle-button">
                                <img src="https://cdns.iconmonstr.com/wp-content/releases/preview/2017/240/iconmonstr-eye-9.png" style="height: 20px;" alt="">
                            </span>
                        </div>
                    </div>
                    <button class="w-100 mt-4 rounded-2 bg-dark text-white text-center p-1">Submit</button>
                </form>
                <p class="my-0 mt-3 fw-light text-center">Already have account? <a class="fw-normal" href="/login" style="color: black;">Signin</a></p>
            </div>
        </div>
    </div>
    <script>
        const toggleButton = document.querySelector('.toggle-button')
        const passwordInput = document.querySelector('.password')

        const togglePassword = () => {
            if(passwordInput.type === 'password'){
                passwordInput.type = 'text'
            }else{
                passwordInput.type = 'password'
            }
        }
    </script>
</body>
</html>